@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,400;1,600&display=swap');

* { 
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(255, 249, 241);
}

/* responsive: laptop L - 1440x869*/

html {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: relative;
}

body {
    padding-top: 80px;
}

.desc {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: 100vh;
    width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button {
    text-decoration: none;
    background-color: #C58950;
    color: rgb(255, 249, 241);
    padding: 10px 65px;
    border-radius: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    border: none;
    font-weight: 700;
    transition: .3s ease;
}

button:hover {
    cursor: pointer;
    background-color: #86654B;
    color: rgb(255, 249, 241);
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title h1 {
    color: #C58950;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
}

h2 {
    font-size: 1.2rem;
}

p span {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

/* start of navbar */

#nav {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: rgb(255, 249, 241);
    border-bottom: 1px solid black;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 20px 0px;
}

.navbar-content {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoname {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-right: 25%;
    transition: .3s ease;
    transition-property: color;
}

.logoname:hover {
    cursor: pointer;
    color: #C58950;
}

nav ul {
    float: right;
}

nav li {
    display: table-cell;
    list-style: none;
}

nav li a {
    font-size: 20px;
    color: black;
    padding: 0px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease;
    transition-property: color;
}

nav li a:hover {
    color: #C58950;
}

nav li:nth-child(4) {
    color: #896950;
    background-color: transparent;
    border: 2px solid #896950;
    border-radius: 20px;
    padding: 3px;
}

nav li:nth-child(4):hover {
    color: #C58950;
    background-color: transparent;
    border: 2px solid #C58950;
    border-radius: 20px;
    padding: 3px;
}

.logopic {
    width : 80px;
    height: 70px;
    cursor: pointer;
}
.logoname{
    margin-left: 1px;
}

/* end of navbar */

/* start of hero section */

#hero .hero {
    width: 1440px;
    margin-bottom: 100px;
}

.content-top {
    position: relative;
    text-align: center;
    color: white;
}

.content-top img {
    width: 1355px;
    height: 500px;
}

.img-label-0 {
    font-size: 40px;
    position: absolute;
    bottom: 8%;
    right: 45px;
    text-decoration: none;
    background-color: transparent;
    text-align: left;
    text-shadow: 1px 1px 4px rgb(39, 39, 39);
}

.content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}

.content-bottom button {
    margin: 11px;
}

.content-buttons {
    display: flex;
}

.content-message {
    width: 38%;
    overflow: hidden;
    text-align: justify;
}

.content-bottom img {
    width: 262px;
    height: 262px;
}

/* end of hero section */

/* start of about section */

#about {
    margin-top: 100px;
}

#about .about {
    display: flex;
    justify-content: space-between;
    align-items: auto;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
}

#about .section-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-item-top {
    width: 47%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.about-item-top img {
    width: 200px;
    height: 300px;
    border-radius: 95px;
}

.about-item-top .profile-desc {
    width: 360px;
    margin-left: 30px;
    padding: 25px 0;
    text-align: justify;
}

#about .about-item-bottom {
    width: 47%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.about-item-bottom img {
    width: 200px;
    height: 300px;
    border-radius: 95px;
}

.about-item-bottom .profile-desc {
    width: 360px;
    margin-left: 30px;
    padding: 25px 0;
    text-align: justify;
}


/* start of services section */
/* end of services section */

/* start of contact section */

#contact {
    width: 1440px;
    margin-bottom: 100px;
    padding: 0 10px;
}

#contact .contact {
    display: flex;
    justify-content: space-between;
    align-items: auto;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact-info {
    width: 50%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
}

.contact-info .inst-text {
    font-weight: 700;
    font-style: italic;
    padding-bottom: 1px;
}

.email-text {
    font-weight: 700;
}

.contact-info a {
    color: black;
    text-decoration: none;
}

form {
    width: 100%;
    max-width: 700px;
}

.contact-input {
    margin-bottom: 30px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: none;
    color: white;
    background-color: #C58950;
    border-radius: 7px;
    font-size: 15px;
    font-family: 'Poppins';
}

label {
    height: 100%;
    padding: 10px;
    color: black;
    cursor: text;
    font-size: 16px;
}

/* end of contact section */

/* start of cafe_list page */

.cafes {
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.cafe-items {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: normal;
}

.cafe {
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin: 80px auto; */
    overflow: hidden;
    border-radius: 25px;
    background: #D1C8C1;
    border: 1px solid #b4b4b4;
    box-shadow: 0px 0px 6px #b4b4b4;
    transition: 0.3s ease transform;
    margin: 40px auto;
}

.cafe:hover {
    box-shadow: 0px 0px 8px #b4b4b4;
    transform: scale(1.1);
}

.cafe-info {
    max-width: 600px;
    overflow: hidden;
    background: #D1C8C1;
    padding: 6px 20px;
    flex-basis: 50%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.cafe-info h2, h3, p, span, a {
    background: transparent;
}

.cafe-img {
    background: transparent;
}

.cafe-img img {
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.cafe-info h2 {
    font-size: 1.2rem;
}

.cafe-info h3, p {
    font-size: .8rem;
    text-wrap: wrap;
    font-weight: 400;
}

.cafe-info h3 span {
    font-weight: 700;
}

/* end of cafe_list page */